@import "~bootstrap/scss/bootstrap";

// variables
:root {
  --c-white: #fff;
  --c-white-2: #00000008;
  --c-black: #000;
  --c-black-2: #080521;
  --c-black-light: #080521;
  --c-red-bolder: #ab162c;
  --c-yellow: #f2a22a;
}

// font-family
@font-face {
  font-family: robotoRegular;
  src: url(assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: robotoMedium;
  src: url(assets/fonts/roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--c-white-2);
  font-family: robotoRegular, Arial, Helvetica, sans-serif;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  transition: 0.4s all;
}

ul {
  margin: 0;
}
