.btn {
  display: inline-block;
  background: var(--c-red-bolder);
  width: 80px;
  padding: 3px 0;
  text-align: center;
  color: var(--c-white);
  letter-spacing: 2px;
  border-radius: 5px;

  &__edit {
    background: var(--c-black-3);
  }

  &__create__new {
    width: auto;
    padding: 5px 0;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0 0 30px 0;
  }
}
